@{
    ViewData["Title"] = "Home Page";
}
<body class="homePage">
    <div id="welcome" class="text-center">
        <h1>CarMarket</h1>
        <p>The site with the best car dealerships.</p>
    </div>
</body>
