@page
<body id="carIndex">
        <div class="container">
                <div class="d-flex justify-content-center">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div style="position: absolute; right: 60%; bottom: 15%;">Username</div>
                    <div style="position: absolute; right: 56%; bottom: 10%;"><input type="text" id="userInput" /></div>
                </div>
                <div class="row">
                    <div style="position: absolute; right: 40%; bottom: 15%;"">Message</div>
                    <div style="position: absolute; right: 36%; bottom: 10%;"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div style="position: absolute; right: 48%; bottom: 14%;">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
</body>