@page
<body id="carIndex">
        <div class="container">
                <div class="d-flex justify-content-center">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div style="position: absolute; right: 24%; bottom: 85%;">Username</div>
                    <div style="position: absolute; right: 20%; bottom: 80%;"><input type="text" id="userInput" /></div>
                </div>
                <div class="row">
                    <div style="position: absolute; right: 11%; bottom: 85%;">Message</div>
                    <div style="position: absolute; right: 7%; bottom: 80%;"><input type="text" id="messageInput" /></div>
                </div>
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div style="position: absolute; right: 16%; bottom: 75%;">
                        <input type="button" id="sendButton" value="Send Message" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <hr />
                    </div>
                </div>
                <div class="row">
                    <div>
                        <ul id="messagesList"></ul>
                    </div>
                </div>
            </div>
        </div>

        <script src="~/js/signalr/dist/browser/signalr.js"></script>
        <script src="~/js/chat.js"></script>
</body>