@model Office
<body id="carIndex">
        <div class="row text">
            <div class="col-md-6 offset-3">
                <form asp-controller="Office" asp-action="EditOffice">
                    <input asp-for="Id" hidden />

                    <label asp-for="PictureURL"></label>
                    <input class="form-control" asp-for="PictureURL" />

                    <label asp-for="Name"></label>
                    <input class="form-control" asp-for="Name" />

                    <label asp-for="Location"></label>
                    <input class="form-control" asp-for="Location" />

                    <label asp-for="Manager"></label>
                    <input class="form-control" asp-for="Manager" />

                    <label asp-for="Number"></label>
                    <input class="form-control" asp-for="Number" /><br />

                    <button class="btn btn-primary text-white">Edit office</button>
                    <button onclick="deleteOffice()" type="button" class="btn btn-danger text-white">Delete office</button>
                    <button class="btn btn-primary float-right" asp-action="Index">Back to List</button>
                </form>
            </div>
        </div>
</body>

<script>
    const deleteOffice = () => {
        window.location = `/Office/DeleteOffice/${@Model.Id}`
    }
</script>
