@model string;

<div style="position: fixed; right: 50%; top: 1%;" class="text-white">
    <a asp-controller="Cars" asp-action="AddCar" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New Car
    </a>
</div>