@model Car

@{
    ViewData["Title"] = "Add a new car";
}
<body id="carIndex">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form asp-controller="Car" asp-action="SaveCar">
                <input asp-for="Id" hidden />

                <label asp-for="Picture"></label>
                <input class="form-control" asp-for="Picture" required/>

                <label asp-for="Brand"></label>
                <select class="form-control" asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()" required></select>

                <label asp-for="Model"></label>
                <input class="form-control" asp-for="Model" required/>

                <label asp-for="Engine"></label>
                <input class="form-control" asp-for="Engine" required/>

                <label asp-for="Fuel"></label>
                <select class="form-control" asp-for="Fuel" asp-items="Html.GetEnumSelectList<Fuel>()" required></select>

                <label asp-for="HorsePower"></label>
                <input class="form-control" asp-for="HorsePower" required/>

                <label asp-for="Transmission"></label>
                <select class="form-control" asp-for="Transmission" asp-items="Html.GetEnumSelectList<Transmission>()" required></select>

                <label asp-for="ManufactureDate"></label>
                <input class="form-control" asp-for="ManufactureDate" required/>

                <label asp-for="TotalMileage"></label>
                <input class="form-control" asp-for="TotalMileage" required/>

                <label asp-for="Doors"></label>
                <select class="form-control" asp-for="Doors" asp-items="Html.GetEnumSelectList<Doors>()" required></select>

                <label asp-for="SteeringWheel"></label>
                <select class="form-control" asp-for="SteeringWheel" asp-items="Html.GetEnumSelectList<SteeringWheel>()" required></select>

                <label asp-for="Color"></label>
                <select class="form-control" asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()" required></select>

                <label asp-for="SalePrice"></label>
                <input class="form-control" asp-for="SalePrice" required/> <br />

                <button class="btn btn-primary">Add car</button>
                <button class="btn btn-primary float-right" asp-action="Index">Back to List</button>
            </form>
        </div>
    </div>
</body>