@model Car

@{
    ViewData["Title"] = "Add a new car";
}
<body id="carIndex">
    <div class="row">
        <div class="col-md-6 offset-3">
            <form asp-controller="Car" asp-action="SaveCar">
                <input asp-for="Id" hidden />

                <label asp-for="Picture"></label>
                <input class="form-control" asp-for="Picture" />

                <label asp-for="Brand"></label>
                <select class="form-control" asp-for="Brand" asp-items="Html.GetEnumSelectList<Brand>()"></select>

                <label asp-for="Model"></label>
                <input class="form-control" asp-for="Model" />

                <label asp-for="Engine"></label>
                <input class="form-control" asp-for="Engine" />

                <label asp-for="Fuel"></label>
                <select class="form-control" asp-for="Fuel" asp-items="Html.GetEnumSelectList<Fuel>()"></select>

                <label asp-for="HorsePower"></label>
                <input class="form-control" asp-for="HorsePower" />

                <label asp-for="Transmission"></label>
                <select class="form-control" asp-for="Transmission" asp-items="Html.GetEnumSelectList<Transmission>()"></select>

                <label asp-for="ManufactureDate"></label>
                <input class="form-control" asp-for="ManufactureDate" />

                <label asp-for="TotalMileage"></label>
                <input class="form-control" asp-for="TotalMileage" />

                <label asp-for="Doors"></label>
                <select class="form-control" asp-for="Doors" asp-items="Html.GetEnumSelectList<Doors>()"></select>

                <label asp-for="SteeringWheel"></label>
                <select class="form-control" asp-for="SteeringWheel" asp-items="Html.GetEnumSelectList<SteeringWheel>()"></select>

                <label asp-for="Color"></label>
                <select class="form-control" asp-for="Color" asp-items="Html.GetEnumSelectList<Color>()"></select>

                <label asp-for="SalePrice"></label>
                <input class="form-control" asp-for="SalePrice" /> <br />

                <button class="btn btn-primary">Add car</button>
                <button class="btn btn-primary float-right" asp-action="Index">Back to List</button>
            </form>
        </div>
    </div>
</body>